.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  min-width: 150px;
  margin-right: 5px;
  border: 1px solid grey;
  padding: 0 10px;
  background-color: #05296E;

  & > div {
    text-align: center;

    &:nth-child(1) {
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;

      &:hover {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .aside {
    display: none;
  }
}