.about {
  color: #29467F;

  p {
    text-align: center;
    margin: 30px 0;
    line-height: 2rem;
  }

  button {
    display: block;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }
}

.h1 {
  text-align: center;
}



